@tailwind base;
@tailwind components;
@tailwind utilities;

/* smooth scroll */
html {
    scroll-behavior: smooth;
}

body {
    background: url("../public/images/background.png") repeat white;
}

.dark body {
    background: url("../public/images/background.png") repeat black;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(186, 173, 254, 0.361);
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #0A85ED 0%, #07C8F9 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

/* selection color */
::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: lightsteelblue;
}

::selection {
    color: white;
    background: lightsteelblue;
}

/*fix selection problem for carousel*/
.carousel-root {
    user-select: none;
    -webkit-user-drag: none;
}