@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: lightsteelblue;
}

::selection {
  color: white;
  background: lightsteelblue;
}
